/* Autocomplete in jQuery UI */
ul.ui-autocomplete {
    li.ui-menu-item {
        text-align: left;
        list-style-type: none;
    }
}

#bookmark {
    article {
        width: 600px;
        float: left;

        dt#title {
            img {
                display: inline-block;
            }
        }
    }

    aside {
        width: 340px;
        float: right;
        background-color: #e8dfc6;
        padding: 3px 5px;

        h1 {
            font-size: 1.2em;
            margin: 0.6em 0;
        }
        p {
            line-height: 1.4em;
        }
    }
}