#root li {
  list-style: none; }
#root article {
  float: left;
  width: 500px; }
  #root article p {
    line-height: 1.4em; }
  #root article ul li:first-child {
    margin: 0; }
  #root article ul li {
    margin: 30px 0 15px; }
    #root article ul li b {
      display: block;
      margin-bottom: 7px; }
#root aside {
  float: left;
  width: 450px; }
  #root aside ul#bookmarks.home-index .image {
    width: 50px; }
  #root aside ul#bookmarks.home-index .data {
    width: 390px; }
