defaults: &defaults
  reserved_screen_name_list: []
  smtp:
    address: "smtp.gmail.com"
    port: 587
    domain: "gmail.com"
    user_name: ""
    password: ""
    authentication: "plain"
    enable_starttls_auto: true
  oauth_keys:
    hatena:
      consumer_key: ''
      consumer_secret: ''

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
