:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7047321-9']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js'
= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/jquery-ui.min.js'
= javascript_include_tag 'flash'
:javascript
  $(document).ajaxSend(function(e, xhr, options) {
    var token = $("meta[name='csrf-token']").attr("content");
    xhr.setRequestHeader("X-CSRF-Token", token);
  });
= yield :javascript